<div class = "all_posts">
	<h1 style = "text-align: center; font-size: 4vw; font-family: 'Futura'">All Tags</h1>
	<div class = "container" id = "tags-list">
	  <% @tags.each do |tag| %>
		<% tag_frequency = tag.taggings.count %>
	    
	    <% if !$types_of_posts.include?(tag.name) %>
			<% case tag_frequency%>
				<%when 1..2%>
					<%= link_to tag.name.capitalize, tag_path(tag), class: 'small_tag'  %>
				<%when 3..5%>
					<%= link_to tag.name.capitalize, tag_path(tag), class: 'medium_tag'  %>
				<%when 5..1000%>
					<%= link_to tag.name.capitalize, tag_path(tag), class: 'large_tag'  %>
			<% end %>
			&nbsp;
		<%end%>
			
	  <% end %>
	</div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>

