<div class = "all_posts">
<div class = "header" >
<br>
	<h1 style = "color: #A5AAAC; padding-left: 13px; font-weight: bold; background-color: white; padding-top: 5px; margin: auto; border-radius: 4px; width: 40%">About Me</h1>
	<br>
	<br>
<h3 style = "text-align: center; color: black"> Page Under Construction! </h3>
<br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>