<div class = "container">
	<h2 style = "text-align:center; margin-right: 2vw;"> Edit Post </h2>
		<%= render 'form'%>
		<br>
  	    <%= link_to "Back", post_path(@post), class: "waves-effect waves-light btn", id: "back-button"%>
  	    <br>
  	    <br>
</div>