<div class = "container">
	<h2 style = "text-align:center; margin-right: 2vw; color: black; font-family: 'Futura';"> New Post </h2>
		<%= render 'form'%>
		<br>
  	  	<%= link_to "Back", posts_path, id: "back-button", class: "waves-effect waves-light btn"%>
</div>
