/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.header h1 {
}

.home-link {
	padding: 10px;
	padding-top: 25px;
	padding-bottom: 16px;
	font-size: 2vw;

}

.home-link:hover {
	background-color: #008AB7;
    transition: background-color .7s;

}

.container{
	color:white;
}

.col l8 s12{
	color:white;
}

#footer-copyright-override {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255,255,255,0.8);
	background-color: rgba(153, 161, 163, .2);
}

#page-footer-override {
	background-color: rgba(194, 199, 200, 1);
	color: white;
}

#footer-links:hover{
	text-decoration: underline;
}

#learnmore-override {
	margin-left: -8px;
}




