/*INDEX CSS*/
#post {
	list-style-type: none;
	margin-left: -3vw;
}

.all_posts {
	background-color: white;
}

.all_posts h1 {
	text-align: center;
	font-size: 3.8vw;
}

.individual_post {
	background-color: white;
	font-size: 1.5vw;
	text-align: center;
	margin: auto;
	border-bottom: solid gray 1px;
}

.header {
	width: 80%;
	font-family: "futura";
	margin: auto;
}

.post-title-link {
	text-decoration: none;
	color: black;
	font-size: 2vw;
}

.post-title-link:hover {
	text-decoration: underline;
}

.post_more_link:hover {
	opacity: .65;
}

/*SHOW CSS*/
#show_post {
	list-style-type: none;
	text-align: center;
	margin-left: -3vw; 
	font-size: 1.5vw;
}

.post_info {
	background-color: white;
}

.post_info h1{
	text-align: center;
	font-size: 4vw;
	margin-bottom: 0px;
}

.tags_on_show{
	text-align: center;
	font-size: 1.3vw;
	margin-top: 5px;
}

.body_excerpt{
	text-align: justify;
	margin:auto;
	width: 60%;
}

.show_body_excerpt{
	text-align: justify;
	margin:auto;
	width: 70%;
}

.paginate_links{
	text-align: center;
}