/*INDEX CSS*/
#post {
	list-style-type: none;
	margin-left: -.5vw;
}

.all_posts {
	background-color: white;
	margin-left: -1.3vw;
}

.all_posts h1 {
	text-align: center;
	font-size: 3.8vw;
}

.individual_post {
	background-color: white;
	font-size: 1.5vw;
	text-align: center;
	margin: auto;
	border-bottom: solid gray 1px;
}

.img_index {
	width: 60%;
}

#post li {
	color: black;
}

#post li a:hover {
	opacity: .7;
}


.header {
	width: 80%;
	font-family: "futura";
	margin: auto;
}

.post-title-link {
	text-decoration: none;
	color: #0099E8;
	font-size: 2.8vw;
	font-family: "Futura";
	font-weight: normal;
}

.post-title-link:hover {
	opacity: .6;
}

.post_more_link:hover {
	opacity: .65;
}

/*SHOW CSS*/
#show_post {
	list-style-type: none;
	text-align: center;
	font-size: 1.5vw;
}

.post_info {
	background-color: white;
	margin-right: 20px;
}

.post_info h1{
	text-align: center;
	width: 60%;
	font-size: 3vw;
	font-weight: bold;
	font-family: "Futura";
	margin-bottom: 0px;
	margin-left: -1vw;
	margin: auto;

}

.tags_on_show{
	text-align: center;
	font-size: 1.3vw;
	margin-top: 5px;
	margin: auto;
	margin-left: -1vw;
}

.tags_on_show a:hover{
	opacity: .7;
}


.body_excerpt{
	text-align: justify;
	margin:auto;
	width: 80%;
	font-size: 1.25vw;
}

.img_show {
	width: 60%;
}

.show_body_excerpt{
	text-align: justify;
	margin:auto;
	width: 70%;
	font-size: 1.3vw;
}

.show_post_body {
	white-space: pre-line;
}

.paginate_links{
	text-align: center;
}

#back-button{
	background-color: #019BE5;
	margin: auto;
	font-size: 1.2vw;
	display: inline-block;
}

#back-button:hover{
	opactiy: .3;
}

#source-button{
	background-color: #019BE5;
	font-size: 1.2vw;
	display: inline-block;
}

#source-button:hover{
	opactiy: .3;
}

.no-posts-div {
	margin: auto;
	width: 70%;
}

.no-posts-div h5 {
	text-align: center;
	font-size: 2vw;
}

#show-title-source-link {
	color: black;
}

#show-title-source-link:hover {
	opacity: .8;
}