#tags-list {
	text-align: center;
}

.small_tag {
	font-size: 1.8vw;
}

.medium_tag {
	font-size: 2.8vw;
}

.large_tag {
	font-size: 4vw;
}

.small_tag:hover, .medium_tag:hover, .large_tag:hover {
	opacity: .7;
}